.Header{
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;                    /*Change to margin if you want*/
  font-size: 1.5rem;
  height: 10px;
  background-color: purple;  
  align-items: center;
}

.MenuSection{
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.logo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}